.container {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
  }
}
